@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import '@fontsource-variable/overpass';

@theme inline {
	--font-overpass: 'Overpass Variable', sans-serif;

	--color-bg: var(--bg);
	--color-fg: var(--fg);
	--color-panel: var(--panel);

	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-tertiary: var(--tertiary);

	--color-body: var(--body);
	--color-anchor: var(--anchor);
	--color-highlight: var(--highlight);
}

@utility prose {
	.blog {
		a {
			color: var(--anchor);
			a:hover {
				text-decoration: underline;
				text-underline-offset: 6px;
			}
		}

		blockquote {
			border-left: solid 2px var(--secondary);
			p {
				font-weight: 300;
				color: var(--secondary);
			}
			p:first-of-type::before,
			p:last-of-type::after {
				content: none;
			}
		}

		code {
			background-color: var(--panel);
			color: var(--body);
			font-weight: 400;
			padding: 4px;
			border-radius: 8px;
			&::before,
			&::after {
				content: none;
			}
		}

		pre > code {
			background-color: transparent;
		}

		hr {
			border: 2px solid var(--panel);
		}

		p,
		em,
		strong {
			color: var(--body);
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: var(--fg);
			font-weight: 500;
			text-decoration: none;
		}
	}
}

@layer base {
	.bedrock {
		--bg: #202127;
		--fg: #edecee;
		--panel: #2c2e36;

		--primary: #ffca85;
		--secondary: #ff7070;
		--tertiary: #a594f9;

		--body: #9b9eba;
		--anchor: #08c2ff;
		--highlight: #61ffca;
	}

	.dark {
		--bg: #202127;
		--fg: #edecee;
		--panel: #2c2e36;

		--primary: #ffca85;
		--secondary: #ff7070;
		--tertiary: #a594f9;

		--body: #9b9eba;
		--anchor: #08c2ff;
		--highlight: #61ffca;
	}

	.light {
		--bg: #ffffff;
		--fg: #2c2c2c;
		--panel: #ebf4f6;

		--primary: #e04343;
		--secondary: #e67a00;
		--tertiary: #5c5ce6;

		--body: #5a5a5a;
		--anchor: #0066cc;
		--highlight: #2d8a75;
	}
}
